.users {
    background: #f9f9f3;
}

.usercard {
    width: 200px;
} 

.users div .usercard .h4 {
    margin-bottom: 10px;
} 

.users .usercard p {
    margin-bottom: 0;
}

.email {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    cursor: pointer; 
}